body{
    text-align: center;
    background-color:  	#E5EFF5;
    font-family: 'Karla';
    font-size: 16px ;
}

/*-----------------------------------------------------*/

#main-container{
    text-align: left;
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.018);
    /*margin: 12% 33% auto 33%;*/
    width: 40vw;
    margin: 12% auto auto;
    
}


/*-----------------------------------------------------*/

#top-container{
    background-color: white;
    padding: 5%;
    text-align: left;
}

#join-header{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 1.5rem;
    width: fit-content;
    
}

#money-back{
    color: hsl(71, 73%, 54%);
    width: fit-content;
    font-weight: 700;
    font-size: 1.3rem;
    padding-top: 3%;

}

#gain-access{
    color: rgb(155, 143, 143);
    font-size: 1.1rem;
    line-height: 1.5;

    width: fit-content;
}

/*-----------------------------------------------------*/

#left-container{
    background-color: hsl(179, 62%, 43%);
    color: white;

    padding: 5%;
    padding-left: 7%;
}

#month-sub{
    width: fit-content;
    font-weight: 700;
    font-size: 1.3rem;
    justify-content: left;
}

#price{
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
}

#per-month{
    color: rgba(255, 255, 255, 0.621);
    font-size: 1.1rem;
    text-align: left;
    width: fit-content;
    margin-top: 3%   
}

#description{
    clear: left;
    margin-top: 15;
    width: fit-content;
}

#sign-up{
    background-color: hsl(71, 73%, 54%);
    padding: 5% 35% ;

    border: none;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.076);

    margin-top: 15px;
}

#btn-text{
    font-family: 'Karla';
    font-weight: bold;
    font-size: 1em;
    width: fit-content;
    text-decoration-line: none;
    color: white;
}

/*-------------------------------------------------*/

#right-container{
    background-color: hsla(179, 62%, 43%, 0.784);
    color: white;
    border: none;
    font-size: 1rem;
    padding: 5%;
    padding-bottom: 2%;
    padding-left: 7%;


}

#why-us{
    width: fit-content;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 1.3rem;
}

#reasons{
    width: fit-content;
    line-height: 1.3;
    font-size: 1rem;
    padding-top: 5%;
    color: rgba(255, 255, 255, 0.76);
}
